<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jewel Theme">
        <meta name="description" content="Wheel - Responsive and Modern Car Rental Website Template">
        <meta name="keywords" content="">
        <title>Wheel - Responsive and Modern Car Rental Website</title>
       
    </head>
    <body class="">
        <!-- MAIN -->
        
        <div class="wheel-menu-wrap ">
            <div class="container-fluid wheel-bg1">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="wheel-logo">
                            <a ><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12 padd-lr0">
                        <div class="wheel-top-menu clearfix">
                            <div class="wheel-top-menu-info">
                                <div class="top-menu-item"><a href="#"><i class="fa fa-phone"></i><span> 73 363 562</span></a></div>
                                <div class="top-menu-item"><a href="#"><i class="fa fa-envelope"></i><span>Wheelcar@gmail.com</span></a></div>
                            </div>
                            <div class="wheel-top-menu-log">
                                <div class="top-menu-item">
                                    <div class="dropdown wheel-user-ico">
                                        <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Account
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a routerLink="/login">LogOut</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                
            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="wheel-navigation">
                            <nav id="dl-menu">
                                <!-- class="dl-menu" -->
                                <ul class="main-menu dl-menu">
                                    <li class="menu-item   current-menu-parent menu-item-has-children    ">
                                        <a >Home</a>
                                        
                                    </li>
                                    <li class="menu-item current-menu-parent menu-item-has-children  ">
                                        <a routerLink="/list" > Listing </a>
                                        <!--class=" dl-submenu "-->
                                        
                                    <li >
                                        
                                        <ul >
                                            <li class="menu-item "><a >contact</a></li>
                                        
                                            <li class="menu-item  "><a routerLink="/reservation">Reservation</a></li>
                                            <li class="menu-item"><a routerLink="/profile">Profil</a></li>
                                            <li class="menu-item active-color"><a >Historical</a></li>
                                            <li class="menu-item "><a routerLink="/complaint">Complaint</a></li>
                                            
                                                
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wheel-start3">
            <img src="assets/images/bg6.jpg" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>Historical</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h2>Reservations</h2>
        <br>
        <br>
        <table class="table table-striped" >
            <thead >
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Etat</th>
                <th scope="col">Véhicule</th>
                <th scope="col">Date début</th>
                <th scope="col">Date fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>En cours</td>
                <td>MERCEDES-BENZ</td>
                <td>12/05/2022</td>
                <td>16/05/2022</td>
                <button type="submit" class="btn btn-primary btn-round">Update </button>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Validé</td>
                <td>Fiat 500</td>
                <td>03/11/2021</td>
                <td>12/11/2021</td>
                <button class="button" type="button"> Delete</button>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Validé</td>
                <td>BMW</td>
                <td>26/08/2021</td>
                <td>31/08/2021</td>
                <button class="button" type="button"> Delete</button>
              <tr>
                <th scope="row">4</th>
                <td>Validé</td>
                <td>Golf 7</td>
                <td>17/01/2019</td>
                <td>01/02/2019</td>
                <button class="button" type="button"> Delete</button>
              </tr>
            </tbody>
          </table>
          <br>
           <button class="buton" type="button"> Add Reservation</button>
          <br>
          <br>
          <br>
          <br>
          <br>




          <h2>Complaints</h2>
          <br>
          <br>
          

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Complaint</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>22/06/2019</td>
                <td> Objet : Demande d'indemnisation

                    Le 21/06/2019, j'ai effectué une réservation par internet auprès de votre agence pour une location du 21/06 au 25/06.
                    
                    Comme vous le constaterez sur le document ci-joint, j'ai choisi le véhicule ****, ce qui correspond chez vous à la catégorie A. J'avais également opté pour les options ****.
                    
                    Or, lorsque je me suis présenté pour récupérer le véhicule, celui-ci n'était plus disponible. Vous m'avez alors proposé un véhicule d'une catégorie inférieure, le **** et vous m'avez alors refusée toute remise commerciale.
                    
                    Par la présente, je vous mets en demeure de me verser un dédommagement à hauteur de [montant] euros pour le préjudice subi auquel s'ajoutera la différence de tarif entre les deux catégories soit **** euros.
                    
                    A défaut de réponse de votre part dans un délai de 8 jours, je me verrai dans l'obligation d'alerter la direction départementale de la concurrence, de la consommation et de la répression des fraudes à propos de vos agissements ainsi que d'engager un recours devant les tribunaux compétents.
                    
                    Je vous prie de croire, Madame, Monsieur, à mes sincères salutations.</td>
                    
                <td>
                    <br>
                    <br>
                    <br>
                    <button class="button" type="button"> Delete</button>
                </td>
                    
              </tr>
              
              <tr>
                <th scope="row">2</th>
                <td>03/11/2020</td>
                <td>Objet : Réclamation au sujet de la facture 

                    Madame, Monsieur,
                    
                    Pour la période du  au, j'ai loué un véhicule auprès de votre agence de location de voiture sous le contrat numéro.
                    
                    Lors de la restitution du véhicule, nous avons procédé à un état des lieux contradictoire du véhicule et constaté que le kilométrage était de.
                    
                    
                     
                    Or vous m'avez facturé un kilométrage nettement supérieur ainsi qu'une réparation d'une rayure non constatée sur l'état des lieux et une pénalité pour des frais de carburant, ce que je conteste vivement. Par conséquent, je vous mets en demeure de revoir le montant de votre facture.
                    
                    Sans réponse de votre part dans un délai de 8 jours, je me verrai dans l'obligation d'alerter la direction départementale de la concurrence, de la consommation et de la répression des fraudes à propos de vos agissements ainsi que d'engager un recours devant les tribunaux compétents.
                    
                    Je vous prie de croire, Madame, Monsieur, à mes sincères salutations.</td>
                    <td>
                        <br>
                        <br>
                        <br>
                        <button class="button" type="button"> Delete</button>
                    </td>
                
              </tr>
              
            </tbody>
          </table>
          
          <button class="buton" type="button"> Add Complaint</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>



          <div class="wheel-footer-info wheel-bg6">
            <div class="container">
                <div class="row">
                    
                    <div class="wheel-soc">
                        <a  class="fa fa-twitter"></a>
                        <a  class="fa fa-facebook"></a>
                        <a  class="fa fa-linkedin"></a>
                        <a  class="fa fa-instagram"></a>
                        <a  class="fa fa-share-alt"></a>
                        
                            <ul>
                                <li><span><i class="fa fa-map-marker"></i> 06 Rue de perfection Sousse 
                                    Tunisia  </span>
                                </li> <br>
                                <li><a href="#"><span><i class="fa fa-phone"></i> 73 363 562</span></a></li> <br>
                                <li><a href="#"><span><i class="fa fa-envelope"></i> Wheelcar@gmail.com</span></a></li>
                            </ul>
                            <div class="col-lg-8 col-sm-6  padd-lr0"><span> &#169;   All rights reserved WHEEL 2022  |  </span></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
