
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jewel Theme">
        <meta name="description" content="Wheel - Responsive and Modern Car Rental Website Template">
        <meta name="keywords" content="">
        <title>Wheel - Responsive and Modern Car Rental Website Template</title>
        
    </head>
    <body class="">
        <!-- MAIN -->
        
        <div class="wheel-menu-wrap ">
            <div class="container-fluid wheel-bg1">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="wheel-logo">
                            <a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12 padd-lr0">
                        <div class="wheel-top-menu clearfix">
                            <div class="wheel-top-menu-info">
                                <div class="top-menu-item"><a href="#"><i class="fa fa-phone"></i><span> 73 363 562</span></a></div>
                                <div class="top-menu-item"><a href="#"><i class="fa fa-envelope"></i><span>Wheelcar@gmail.com</span></a></div>
                            </div>
                            <div class="wheel-top-menu-log">
                                <div class="top-menu-item">
                                    <div class="dropdown wheel-user-ico">
                                        <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Account
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a >Login</a></li>
                                            <li><a routerLink="/register">Register</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="wheel-navigation">
                            <nav id="dl-menu">
                                <!-- class="dl-menu" -->
                                <ul class="main-menu dl-menu">
                                    <li class="menu-item   current-menu-parent menu-item-has-children    ">
                                        <a href="#">Home</a>
                                        
                                    </li>
                                    <li class="menu-item current-menu-parent menu-item-has-children  ">
                                        <a routerLink="/list"> Listing </a>
                                        <!--class=" dl-submenu "-->
                                       
                                    </li>
                                    
                                    <li >
                                        
                                        <ul >
                                            <li class="menu-item "><a routerLink="/contact">contact</a></li>
                                            <li class="menu-item "><a routerLink="/about">About</a></li>
                                            <li  class="menu-item  active-color"><a >Login</a></li>
                                            
                                                
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //////////////////////////////// -->
        <div class="wheel-start3">
            <img src="assets/images/bg7.jpg" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>Login</h3>
                            <ol class="breadcrumb">
                                <li><a >Home</a></li>
                                
                                <li class="active">Login</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /////////////////////////////////// -->
        
        <div class="wheel-register-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 padd-l0">
                        <div class="wheel-register-log marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                            
                            <div class="wheel-header">
                                <h5>have an account? Log In now</h5>
                            </div>
                            
                            <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                        <!-- Errors -->
                                <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                                    {{ errors?.email }}
                                </div>
                                 <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                                    {{ errors?.password }}
                                 </div>
                                <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                                     {{ errors?.error }}
                                 </div>

                             <div class="form-group">
                                    
                                <label for="userName" class="fa fa-user"></label>
                                <input type="text" id="userName" placeholder=' Email'>
                            </div>

                            <div class="form-group">
                                 <label for="userPass" class="fa fa-lock"></label>
                                 <input type="text" id='userPass' placeholder='Passsword'>
                            </div>      

                            <div class="form-group">
                                <button class="wheel-btn" routerLink="/homeclient">Login Now</button>
                                <label class="password-sing clearfix" for="input-val2"></label>
                                <input type='checkbox' id='input-val2'> <span>Keep me signed in</span>
                            </div>
                                <a>Forgot password?</a>
                                <br>
                                <a routerLink="/register">Don't have an account?</a>
                                
                            </form>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- /////////////////////////////// -->
        
        <!-- FOOTER -->
        <!-- ///////////////// -->
        <div class="wheel-footer-info wheel-bg6">
            <div class="container">
                <div class="row">
                    
                    <div class="wheel-soc">
                        <a  class="fa fa-twitter"></a>
                        <a  class="fa fa-facebook"></a>
                        <a  class="fa fa-linkedin"></a>
                        <a  class="fa fa-instagram"></a>
                        <a  class="fa fa-share-alt"></a>
                        
                            <ul>
                                <li><span><i class="fa fa-map-marker"></i> 06 Rue de perfection Sousse 
                                    Tunisia  </span>
                                </li> <br>
                                <li><a href="#"><span><i class="fa fa-phone"></i> 73 363 562</span></a></li> <br>
                                <li><a href="#"><span><i class="fa fa-envelope"></i> Wheelcar@gmail.com</span></a></li>
                            </ul>
                            <div class="col-lg-8 col-sm-6  padd-lr0"><span> &#169;   All rights reserved WHEEL 2022  |  </span></div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>

</html>