<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jewel Theme">
        <meta name="description" content="Wheel - Responsive and Modern Car Rental Website Template">
        <meta name="keywords" content="">
        <title>Wheel - Responsive and Modern Car Rental Website</title>
       
    </head>
    <body class="">
        <!-- MAIN -->
        
        <div class="wheel-menu-wrap ">
            <div class="container-fluid wheel-bg1">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="wheel-logo">
                            <a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12 padd-lr0">
                        <div class="wheel-top-menu clearfix">
                            <div class="wheel-top-menu-info">
                                <div class="top-menu-item"><a href="#"><i class="fa fa-phone"></i><span> 73 363 562</span></a></div>
                                <div class="top-menu-item"><a href="#"><i class="fa fa-envelope"></i><span>Wheelcar@gmail.com</span></a></div>
                            </div>
                            <div class="wheel-top-menu-log">
                                <div class="top-menu-item">
                                    <div class="dropdown wheel-user-ico">
                                        <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Account
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a routerLink="/login">LogOut</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                
            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="wheel-navigation">
                            <nav id="dl-menu">
                                <!-- class="dl-menu" -->
                                <ul class="main-menu dl-menu">
                                    <li class="menu-item   current-menu-parent menu-item-has-children    ">
                                        <a>Home</a>
                                       
                                    </li>
                                    <li class="menu-item current-menu-parent menu-item-has-children  ">
                                        <a routerLink="/list"> Listing </a>
                                        <!--class=" dl-submenu "-->
                                       
                                        
                                    </li>
                                    
                                    <li >
                                        
                                        <ul >
                                            <li class="menu-item "><a>contact</a></li>
                                        
                                            <li class="menu-item  "><a routerLink="/reservation">Reservation</a></li>
                                            <li class="menu-item  "><a routerLink="/profil">Profil</a></li>
                                            <li class="menu-item "><a routerLink="/historique">Historical</a></li>
                                            <li class="menu-item active-color"><a >Complaint</a></li>
                                            
                                                
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wheel-start3">
            <img src="assets/images/bg6.jpg" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>Complaint</h3>
                            <ol class="breadcrumb">
                                <li><a >Home</a></li>
                                
                                <li class="active">Complaint</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="wheel-reply-form wheel-bg1 marg-lg-b145 marg-sm-b50">
            <header>
                <h3>Leave a Complaint</h3>
            </header>
            <form >
                <input type="text" placeholder="Your Name *">
                <input type="text" placeholder="Your Email *">
                <textarea placeholder="Your Message *"></textarea>
                <button>Submit Now</button>
            </form>
        </section>



        <div class="wheel-footer-info wheel-bg6">
            <div class="container">
                <div class="row">
                    
                    <div class="wheel-soc">
                        <a  class="fa fa-twitter"></a>
                        <a  class="fa fa-facebook"></a>
                        <a  class="fa fa-linkedin"></a>
                        <a  class="fa fa-instagram"></a>
                        <a  class="fa fa-share-alt"></a>
                        
                            <ul>
                                <li><span><i class="fa fa-map-marker"></i> 06 Rue de perfection Sousse 
                                    Tunisia  </span>
                                </li> <br>
                                <li><a href="#"><span><i class="fa fa-phone"></i> 73 363 562</span></a></li> <br>
                                <li><a href="#"><span><i class="fa fa-envelope"></i> Wheelcar@gmail.com</span></a></li>
                            </ul>
                            <div class="col-lg-8 col-sm-6  padd-lr0"><span> &#169;   All rights reserved WHEEL 2022  |  </span></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
