<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jewel Theme">
        <meta name="description" content="Wheel - Responsive and Modern Car Rental Website Template">
        <meta name="keywords" content="">
        <title>Wheel - Responsive and Modern Car Rental Website Template</title>
        
    </head>
    <body class="">
        <!-- MAIN -->
        
        <div class="wheel-menu-wrap ">
            <div class="container-fluid wheel-bg1">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="wheel-logo">
                            <a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12 padd-lr0">
                        <div class="wheel-top-menu clearfix">
                            <div class="wheel-top-menu-info">
                                <div class="top-menu-item"><a href="#"><i class="fa fa-phone"></i><span> 73 363 562</span></a></div>
                                <div class="top-menu-item"><a href="#"><i class="fa fa-envelope"></i><span>Wheelcar@gmail.com</span></a></div>
                            </div>
                            <div class="wheel-top-menu-log">
                                <div class="top-menu-item">
                                    <div class="dropdown wheel-user-ico">
                                        <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Account
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a >Login</a></li>
                                            <li><a routerLink="/register">Register</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="wheel-navigation">
                            <nav id="dl-menu">
                                <!-- class="dl-menu" -->
                                <ul class="main-menu dl-menu">
                                    <li class="menu-item   current-menu-parent menu-item-has-children    ">
                                        <a href="#">Home</a>
                                        <ul class="sub-menu dl-submenu">
                                            <li class="menu-item current-menu-item">
                                                <a routerLink="/">Home page </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item current-menu-parent menu-item-has-children  ">
                                        <a routerLink="/list"> Listing </a>
                                        <!--class=" dl-submenu "-->
                                       
                                    </li>
                                    
                                    <li >
                                        
                                        <ul >
                                            <li class="menu-item "><a routerLink="/contact">contact</a></li>
                                            <li class="menu-item active-color "><a routerLink="/about">About</a></li>
                                            <li  class="menu-item  "><a >Login</a></li>
                                            
                                                
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //////////////////////////////// -->
        <div class="wheel-start3">
            <img src="assets/images/bg7.jpg" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                        <h3>about us</h3>
                            <ol class="breadcrumb">
                                <li><a >Home</a></li>
                                
                                <li class="active">About</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /////////////////////////////////// -->
        <div class="wheel-bg2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wheel-header wheel-testi-header text-center marg-lg-t155 marg-lg-b65 marg-md-t50  marg-md-b50">
                            <h3>Our Mission is <span>Client’s</span> Satisfaction</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wheel-testimonial text-center">
                            <p>WHEELCAR commits to provide a serious and professional service to its customers (Individuals, tourists and professionals), recent and well-maintained vehicles spread over several types, models and categories.</p>
                            <div class="wheel-testimonial-info">
                                <span>Aymen Mrabet</span>
                                <img src="assets/images/l1.png" alt="">
                                <p> C.E.O. & Co-Founder</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 padd-lr0  marg-lg-b150  marg-md-b50">
                        <div class="wheel-testimonial-item">
                            <i class="fa fa-users"></i>
                            <span data-to="753" data-speed="10000"></span><b>+</b>
                            <p>Dedicated Employees</p>
                        </div>
                        <div class="wheel-testimonial-item">
                            <i class="fa fa-thumbs-o-up"></i>
                            <span data-to="9053" data-speed="5000"></span><b>+</b>
                            <p>Satisfied Customers</p>
                        </div>
                        <div class="wheel-testimonial-item">
                            <i class="fa  fa-car"></i>
                            <span data-to="529" data-speed="6000"></span><b>+</b>
                            <p>100% Fit Veihicles</p>
                        </div>
                        <div class="wheel-testimonial-item">
                            <i class="fa fa-trophy"></i>
                            <span data-to="111" data-speed="1000"></span><b>+</b>
                            <p>Int. Awards Achieved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 padd-lr0">
            <div class="wheel-skills-accordion marg-lg-t150 marg-lg-b135 marg-sm-t50 marg-sm-b50">
                <div class="wpc-accordion">
                    <div class="panel-wrap active">
                        <h5 class="panel-title">We Stand Together <span></span></h5>
                        <div class="panel-content">
                            WHEELCAR is a human and family company, in this sense we support a lot of charity associations, we are partners of some sports teams to prove our dedication in several Tunisian regions.
                        </div>
                    </div>
                    <div class="panel-wrap active">
                        <h5 class="panel-title">Customer Satisfaction <span></span></h5>
                        <div class="panel-content">
                            We listen to our customers 24 hours a day and we are able to put a vehicle in front of each need, from one to a hundred vehicles for a customer at a given period. “There is a steering wheel for every customer”.
                        </div>
                    </div>
                    <div class="panel-wrap active">
                        <h5 class="panel-title">Team spiritt <span></span></h5>
                        <div class="panel-content">
                            Our activity has tripled in size in recent years in a rapid way thanks to our entire team involved. Our teams are very attached to the "WHEELCAR" brand and consider themselves their own boss, each one does his job with the maximum respect and seriousness.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wheel-bg2">
            <div class="container padd-lr0">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wheel-header text-center marg-lg-t145 marg-sm-t50 marg-lg-b90">
                            <h5>Memebers </h5>
                            <h3>Our Excellent <span>Team</span></h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                            <div class="wheel-team-logo"><img src="assets/images/i20.jpg" alt=""></div>
                            <div class="wheel-team-info ">
                                <h5>Khlaed Mezzi</h5>
                                <span> Founder</span>
                                <ul>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                            <div class="wheel-team-logo"><img src="assets/images/i21.jpg" alt=""></div>
                            <div class="wheel-team-info ">
                            <h5>Aymen Mrabet </h5>
                                <span>C.E.O & Co-Founder</span>
                                <ul>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                            <div class="wheel-team-logo"><img src="assets/images/i22.jpg" alt=""></div>
                            <div class="wheel-team-info ">
                                <h5>Feten Derbeli</h5>
                                <span>Director</span>
                                <ul>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                            <div class="wheel-team-logo"><img src="assets/images/i23.jpg" alt=""></div>
                            <div class="wheel-team-info ">
                                <h5>Lobna Ben Romdhan</h5>
                                <span> Manager</span>
                                <ul>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="wheel-footer-info wheel-bg6">
            <div class="container">
                <div class="row">
                    
                    <div class="wheel-soc">
                        <a  class="fa fa-twitter"></a>
                        <a  class="fa fa-facebook"></a>
                        <a  class="fa fa-linkedin"></a>
                        <a  class="fa fa-instagram"></a>
                        <a  class="fa fa-share-alt"></a>
                        
                            <ul>
                                <li><span><i class="fa fa-map-marker"></i> 06 Rue de perfection Sousse 
                                    Tunisia  </span>
                                </li> <br>
                                <li><a href="#"><span><i class="fa fa-phone"></i> 73 363 562</span></a></li> <br>
                                <li><a href="#"><span><i class="fa fa-envelope"></i> Wheelcar@gmail.com</span></a></li>
                            </ul>
                            <div class="col-lg-8 col-sm-6  padd-lr0"><span> &#169;   All rights reserved WHEEL 2022  |  </span></div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>

</html>