<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jewel Theme">
        <meta name="description" content="Wheel - Responsive and Modern Car Rental Website Template">
        <meta name="keywords" content="">
        <title>Wheel - Responsive and Modern Car Rental Website</title>
       
    </head>
    <body class="">
        <!-- MAIN -->
        
        <div class="wheel-menu-wrap ">
            <div class="container-fluid wheel-bg1">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="wheel-logo">
                            <a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12 padd-lr0">
                        <div class="wheel-top-menu clearfix">
                            <div class="wheel-top-menu-info">
                                <div class="top-menu-item"><a href="#"><i class="fa fa-phone"></i><span> 73 363 562</span></a></div>
                                <div class="top-menu-item"><a href="#"><i class="fa fa-envelope"></i><span>Wheelcar@gmail.com</span></a></div>
                            </div>
                            <div class="wheel-top-menu-log">
                                <div class="top-menu-item">
                                    <div class="dropdown wheel-user-ico">
                                        <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Account
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a routerLink="/login">LogOut</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                
            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="wheel-navigation">
                            <nav id="dl-menu">
                                <!-- class="dl-menu" -->
                                <ul class="main-menu dl-menu">
                                    <li class="menu-item   current-menu-parent menu-item-has-children   active-color ">
                                        <a >Home</a>
                                       
                                    </li>
                                    <li class="menu-item current-menu-parent menu-item-has-children  ">
                                        <a routerLink="/list"> Listing </a>
                                        
                                    </li>
                                    
                                    <li >
                                        
                                        <ul >
                                            <li class="menu-item "><a routerLink="/contact">contact</a></li>
                                        
                                            <li class="menu-item "><a routerLink="/reservation">Reservation</a></li>
                                            <li class="menu-item"><a routerLink="/profile">Profil</a></li>
                                            <li class="menu-item "><a routerLink="/historique">Historical</a></li>
                                            <li class="menu-item "><a routerLink="/complaint">Complaint</a></li>
                                            
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        <!-- ////////////////////////////////////////// -->
        <div class="imgOnBanner-wrap">
            <img src="assets/images/z-banner-img.png" alt="" class="imgOnBanner img-responsive">
        </div>
        <div class="wheel-start wheel-start2">
            <img src="assets/images/bg2.jpg" alt="" class="wheel-img">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="container padd-lr0">
               
                <div class="col-lg-12">
                    
                </div>
            </div>
            <div class="wheel-service-img2">
              
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->

        <!-- ////////////////////////////////////////// -->
        <div class="wheel-bg2">
            
        </div>
        <!-- ////////////////////////////////////////// -->
        <div class="container padd-lr0">
            <div class="row">
                <div class="col-xs-12">
                    <header class="wheel-header text-center marg-lg-t140 marg-lg-b95  marg-md-t50 marg-md-b50">
                        <h5>We have a Great  </h5>
                        <h3>collection of <span> vehicles</span></h3>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="wheel-collection-slider marg-lg-b140  marg-md-b50">
                        <div class="swiper-container  " data-autoplay="0" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-md-5 padd-lr0">
                                            <div class="wheel-collection-info wheel-collection-info2">
                                                <div class="wheel-collection-text">
                                                    <h4>2016 Nissan Juke</h4>
                                                    <span>Luxury Sports Car</span>
                                                    <h5><b>$79 <sup>00</sup></b>/Day</h5>
                                                    
                                                    <ul>
                                                        <li><i class="fa fa-suitcase"></i><span>2 Bags</span></li>
                                                        <li><i class="fa fa-user"></i><span>2 Passengers</span></li>
                                                        <li><i class="fa fa-tachometer"></i><span>5.6/100 MPG</span></li>
                                                    </ul>
                                                    <a href="#" class="wheel-btn">View All rental Car</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 padd-lr0">
                                            <div class="wheel-collection-img wheel-collection-img2"><img src="assets/images/i6a.png" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="pagination"></div>
                        </div>
                        <div class="swiper-outer-left fa fa-angle-left"></div>
                        <div class="swiper-outer-right fa fa-angle-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        
        <!-- ////////////////////////////////////////// -->
        <div class="container padd-lr0">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="wheel-info-img  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100">
                        <img src="assets/images/i7.png" alt="" class="wheel-img">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="wheel-info-text  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100 marg-sm-t50 marg-sm-b50">
                        <div class="wheel-header">
                            <h5>Who we are  </h5>
                            <h3>We Love Our <span>Customers</span></h3>
                        </div>
                       
                        <p>WHEELCAR Tunisia is a Tunisian family car rental company since June 2022 with a capital of one hundred thousand dinars (100,000,000 DT), the head office is located in Sousse </p>
                        <a href="#" class="wheel-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //////////////////////////////////////////-->
        
        <!-- ////////////////////////////////////////// -->

        <!-- ////////////////////////////////////////// -->
        
        <!-- FOOTER -->
        <!-- ///////////////// -->
        <div class="wheel-footer-info wheel-bg6">
            <div class="container">
                <div class="row">
                    
                    <div class="wheel-soc">
                        <a  class="fa fa-twitter"></a>
                        <a  class="fa fa-facebook"></a>
                        <a  class="fa fa-linkedin"></a>
                        <a  class="fa fa-instagram"></a>
                        <a  class="fa fa-share-alt"></a>
                        
                            <ul>
                                <li><span><i class="fa fa-map-marker"></i> 06 Rue de perfection Sousse 
                                    Tunisia  </span>
                                </li> <br>
                                <li><a href="#"><span><i class="fa fa-phone"></i> 73 363 562</span></a></li> <br>
                                <li><a href="#"><span><i class="fa fa-envelope"></i> Wheelcar@gmail.com</span></a></li>
                            </ul>
                            <div class="col-lg-8 col-sm-6  padd-lr0"><span> &#169;   All rights reserved WHEEL 2022  |  </span></div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </body>

</html>