<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jewel Theme">
        <meta name="description" content="Wheel - Responsive and Modern Car Rental Website Template">
        <meta name="keywords" content="">
        <title>Wheel - Responsive and Modern Car Rental Website</title>
       
    </head>
    <body class="">
        <!-- MAIN -->
        
        <div class="wheel-menu-wrap ">
            <div class="container-fluid wheel-bg1">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="wheel-logo">
                            <a href="index-2.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12 padd-lr0">
                        <div class="wheel-top-menu clearfix">
                            <div class="wheel-top-menu-info">
                                <div class="top-menu-item"><a href="#"><i class="fa fa-phone"></i><span> 73 363 562</span></a></div>
                                <div class="top-menu-item"><a href="#"><i class="fa fa-envelope"></i><span>Wheelcar@gmail.com</span></a></div>
                            </div>
                            <div class="wheel-top-menu-log">
                                <div class="top-menu-item">
                                    <div class="dropdown wheel-user-ico">
                                        <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Account
                                        <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a routerLink="/login">LogOut</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                
            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="wheel-navigation">
                            <nav id="dl-menu">
                                <!-- class="dl-menu" -->
                                <ul class="main-menu dl-menu">
                                    <li class="menu-item   current-menu-parent menu-item-has-children    ">
                                        <a>Home</a>
                                       
                                    </li>
                                    <li class="menu-item current-menu-parent menu-item-has-children  ">
                                        <a routerLink="/list"> Listing </a>
                                        <!--class=" dl-submenu "-->
                                       
                                        
                                    </li>
                                    
                                    <li >
                                        
                                        <ul >
                                            <li class="menu-item "><a>contact</a></li>
                                        
                                            <li class="menu-item  "><a routerLink="/reservation">Reservation</a></li>
                                            <li class="menu-item  active-color"><a routerLink="/profil">Profil</a></li>
                                            <li class="menu-item "><a routerLink="/historique">Historical</a></li>
                                            <li class="menu-item "><a routerLink="/complaint">Complaint</a></li>
                                            
                                                
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wheel-start3">
            <img src="assets/images/bg7.jpg" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>User Profil</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
            
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
        
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>Ancien mot de passe</label>
                        <input type="text" class="form-control" placeholder="" >
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" placeholder="Example@example.com">
                        
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Nouveau mot de passe</label>
                        <input type="text" class="form-control" placeholder="" >
                       
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" >
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Tel</label>
                        <input type="number" class="form-control" placeholder="+216">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="Country" value="Sousse">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                    </div>
                </div>
                </form>
                </div>
                